<!DOCTYPE html>
<html lang="id">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.darkly.min.css">
	<link rel="stylesheet" href="/fontawesome-free-5.9.0/css/all.min.css">
	<link rel="stylesheet" href="/css/404.css">
	<link rel="shortcut icon" href="/ico/Guillendesign-Variations-1-Notes.ico"> 	
	<!-- <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> -->
	<title>Login My Notes</title>
</head>
<body>
	<!-- image status code 404 -->
 	<img src="/img/2153483.jpg" class="img-fluid img-thumbnail" alt="">

	<!-- Footer -->
	<footer class="page-footer font-small cyan bg-success">
		<!-- Footer Elements -->
	  	<div class="container">
	    	<!-- Grid row-->
	    	<div class="row">
	      		<!-- Grid column -->
		      	<div class="col-md-12 py-5">
			        <div class="mb-5 flex-center">
			        	<!-- Facebook -->
				        <a class="fb-ic" href="https://www.facebook.com/profile.php?id=100010536482965">
				        	<i class="icon-footer fab fa-facebook-f fa-sm white-text mr-md-5 mr-3 fa-2x"> </i>
				        </a>
			          	<!--Linkedin -->
			          	<a class="li-ic" href="https://www.linkedin.com/in/rendy-dendimara-133934196">
			            	<i class="icon-footer fab fa-linkedin-in fa-sm white-text mr-md-5 mr-3 fa-2x"> </i>
			          	</a>
			          	<!--Instagram-->
			          	<a class="ins-ic" href="https://www.instagram.com/R3ndydinar">
			            	<i class="icon-footer fab fa-instagram fa-sm white-text mr-md-5 mr-3 fa-2x"> </i>
			         	</a>
			         	 <!--Github-->
			          	<a class="pin-ic" href="https://github.com/Rendydinar">
			            	<i class="icon-footer fab fa-github fa-sm white-text fa-2x"> </i>
			         	 </a>
			        </div>
		      	</div>
	      	<!-- Grid column -->
	    	</div>
	    <!-- Grid row-->
	  	</div>
	  	<!-- Footer Elements -->
	  	<!-- Copyright -->
	  	<div class="footer-copyright text-center py-3"> 2019 © Copyright My Notes Team </div>
	  	<!-- Copyright -->
	</footer>

	<script src="/js/popper.min.js"></script>
	<script src="/js/jquery-3.4.1.min.js"></script>	
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>