.register-container {
	margin-top: 3%;
	border: solid 1px #00bc8c;
	box-shadow: 0 3px 20px rgb(0, 0, 0, 0.4);
	border-radius: 50px;
}

.register-form {
	padding: 50px;
}

body {
	/*font-size: 25px;*/
	font-size: 3vh;
}

.icon-user{ 
	text-align: center;
	padding-bottom: 20px;
	margin-top: 40px;
}

.fa-user-plus {
    padding: 60px;
	border: solid 1px #00bc8c;
    border-radius: 100%;
}	

.register-button {
	text-align: center;
	}

	.register-button button {
    width: 50%;
    margin-top: 50px;
    border-radius: 25px;
}
.lead p {
	margin-top: 5px;
	text-align: center;
}

footer {
	margin-top: 15%;
	text-align: center;	
	height: 100%;
}

input {
	height: 50px !important;
	font-size: 23px !important;
}

.msgErr {
	margin-top: 50px;
	width:80%;
	margin-left: 10%;
}

@media only screen and (min-width: 340px) and (max-width: 767px) {
	/*Mobile Responsif Layoout*/
	.register-form {
		padding: 20px;
	}

	input {
		height: 30px !important;
		font-size: 15px !important;
	}

	.input-group-text {
		height: 30px;	
	}			
		
	.alert-heading {
		font-size: 25px;
	}

	.mb-0 {
		font-size: 15px;
	}
}
	
@media only screen and (min-width: 768px) and (max-width: 991px) {
	/*Tablet Responsif Layoout*/

}

.icon-footer {
	color: #fff;
}