body {
	font-size: 3vh;
}

footer {
	margin-top: 15%;
	text-align: center;	
	height: 100%;
}

.msgErr {
	margin-top: 50px;
	width:80%;
	margin-left: 10%;
}

.photo-profile-thumb a img {
	border-radius: 100%;
	width: 100px;
}

.photo-profile-thumb {
	margin-top: -50px;
}

.select-statistik-note-container{
	text-align: right;
}

@media (max-width: 800px) {
	.select-statistik-note-container{
		width: 470px;
		text-align: right;
	}	
}

.nav-item {
	margin-right: 25px;
}

.label-jumlah-notes {
	text-align: right;
	margin-right: 6%;
	margin-top: 5%;
	font-size: 20px;
}

.statistik-label {
	margin-top: 60px;
	margin-left: 6%;
}

canvas {
	margin-top: 50px;
}

@media only screen and (min-width: 340px) and (max-width: 767px) {
	/*Mobile Responsif Layoout*/			
	.statistik-label {
		margin-top: 54px;
		margin-left: 3%;
		font-size: 20px;
	}			

	.statistik-label h1{
		font-size: 35px;
	}			


	.photo-profile-thumb a img {
		border-radius: 100%;
		width: 90px;
		height: 100px;
	}

	.photo-profile-thumb span {
		font-size: 20px;
	}
	
	.photo-profile-thumb {
		margin-top: -40px;
	}

	textarea {
		font-size: 15px !important;			
	}

	.alert-heading {
		font-size: 25px;
	}

	.mb-0 {
		font-size: 15px;
	}

	.img-profile span{
		top: 280px;
		right: 110px;
	}

	.select-statistik-note-container{
		width: 100%;
		text-align: right;
		}	
	}
}
	
@media only screen and (min-width: 768px) and (max-width: 991px) {
	/*Tablet Responsif Layoout*/

}

.icon-footer {
	color: #fff;
}